.popup-overlay-delete-user {
  z-index: 999;
  display: none;
  position: fixed;
  padding-left: 500px;
  padding-right: 500px;
}

.popup-container-delete-user {
  background-color: var(--color-while);
  border-radius: 6px;
  padding: 20px 100px;
  text-align: center;
}

.delete-user-heading {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-nomal);
  color: var(--color-black);
}

.delete-user-sub-heading {
  font-size: var(--font-size-largest);
  font-weight: var(--font-weight-light);
  color: var(--color-grey);
  margin: 10px 0 40px 0;
}
