.list-users-box {
  grid-column: 2;
  padding: 0 18px 0 24px;
}

.list-user {
  background-color: var(--color-while);
  border-radius: 16px;
  width: 100%;
  border: 1px solid var(--color-link-water);
}

.list-users-table {
  width: 100%;
}

.list-users-caption-box {
  padding: 20px;
}

.list-users-caption {
  text-align: left;
  font-weight: var(--font-weight-nomal);
  font-size: var(--font-size-larger);
  line-height: 16px;
  color: var(--color-cloud-bust);
}

.table-header {
  padding: 22px 60px;
  background-color: var(--color-link-water);
}

.table-header-heading {
  font-weight: var(--font-weight-nomal);
  font-size: var(--font-size-medium);
  line-height: 16px;
  color: var(--color-bali-hai);
}

.table-body {
  padding: 22px 60px;
  gap: 10px;
  border-bottom: 1px solid var(--color-link-water);
}

.table-body-name {
  font-weight: var(--font-weight-nomal);
  font-size: var(--font-size-smaller);
  line-height: 16px;
  color: var(--color-cloud-bust);
}

.table-body-email {
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-smallest);
  line-height: 16px;
  color: var(--color-bali-hai);
}

.table-body-date {
  font-size: var(--font-size-smallest);
  font-weight: var(--font-weight-light);
  line-height: 15px;
  color: var(--color-cloud-bust);
}

.table-body-icons-box {
  gap: 20px;
}

.table-body-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
