.error-message {
  color: var(--color-red);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-light);
}

.error-message:empty {
  display: none;
}

.error-message:not(:empty) {
  display: block;
}
