.slide-bar {
  height: 100vh;
  grid-row-start: 1;
  padding: 40px 0 0 32px;
  background-color: var(--color-while);
}
.dashboard-box {
  border-right: 4px solid var(--color-cornflower-blue);
  gap: 16px;
  margin-top: 56px;
}
.slide-bar-dashboard-heading {
  font-weight: var(--font-weight-nomal);
  font-size: var(--font-size-largest);
  line-height: 24px;
  letter-spacing: 0.5px;
  color: var(--color-cornflower-blue);
}
